/**
 * Application-wide colors
 * @module styles/colors.css
 */

/* Spectre */
$primary-color: #111;
$secondary-color: #dadada;
$dark-color: #333;
$warning-color: #fffbcc !default;

/* Accent colors */
$blue: #0011ee;
