/**
 * @module styles/footer.scss
 */

ul.footer {
  padding: 0 0 30px 0;
  li {
    color: #666;
    font-size: 14px;
    list-style: none;
    margin-bottom: 10px;
    line-height: 14px;
    &.logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      // margin-bottom: 5px;
      img {
        height: 14px;
        width: 14px;
        margin-right: 6px;
      }
    }
  }
}
