/**
 * @module styles/header.scss
 */

.desktop .sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 200px;
  background: #fff;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar {
  .sidebar-content {
    flex: 1;
  }
  ul.toc {
    margin: 0;
    padding: 0;
  }
  .toc li {
    margin: 0 0 3px 0;
    padding: 0 0 0.25rem 0.5rem;
    text-indent: -0.5rem;
    font-size: 0.875rem;
    list-style-type: none;
  }
}

.header {
  margin-bottom: 10px;
  h1 {
    font-size: 26px;
    line-height: 26px;
    letter-spacing: 6px;
    margin: 0 0 0.75rem 0;
    a {
      color: transparent;
      text-shadow: 0 0 4px #000;
      transition: text-shadow 0.15s;
      &:hover {
        text-shadow: 0 0 2px #111;
      }
    }
  }

  p.hello {
    font-size: 1rem;
    color: #111;
    font-weight: 600;
  }
  p.hello-links {
    font-size: 0.825rem;
    color: #333;
    a {
    }
  }
}

/* mobile */
.mobile .sidebar-content {
  padding: 0 1.25rem;
}
.mobile .header {
  padding: 1.25rem 1.25rem 0 1.25rem;
}
.mobile .content,
.mobile .footer {
  padding: 1.25rem; 
  .sampleImages img{
    width: 6rem;
    height: 4rem;
  }
}
