/**
 * Blur application CSS
 * @module components/blur/blur.css
 */

/* App */

.app {
  position: relative;
  min-height: 100vh;
}

.introText {
  text-align: center;
}
.introTextA {
  font-size: 6rem;
  color: #01e;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.introTextB {
  color: #b0b0b0;
  font-size: 1.5rem;
}

.emoji {
  display: none;
}

/* Drag message */
.drag-message {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1000000000;
  pointer-events: none;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.drag-message div {
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  padding: 1.5rem;
  font-size: 1rem;
}

/* Results */

.results {
  margin-top: 1rem;
}
.results .result {
  display: inline-block;
  margin-bottom: 1rem;
  margin-right: 1rem;
  opacity: 1;
  width: 720px;
  max-width: 100%;
  /*animation: fadeIn 0.1s;*/
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.results .results-inner {
  margin-top: 1rem;
}
.results .image {
  /*background-size: cover;
  background-position: center center;
  background-color: #ddd;
  width: 100%;*/
}
.results .result img {
  display: block;
}
.results.placeholder .image {
  /*opacity: 0.5;
  filter: blur(1px);
  overflow: hidden;*/
}
.results .meta {
  width: 100%;
  min-width: 360px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Roboto Mono", monospace;
  text-transform: uppercase;
  background: #f8f8f8;
  color: #999;
}

.results .meta .downloadLink:first-child {
  flex: 1;
}
.results .meta .downloadLink:nth-child(2) {
  border-left: 1px solid #ddd;
  padding: 0.75rem 1rem;
}
.results .meta .downloadLink {
  font-size: 12px;
  /*color: transparent;*/
  /*text-shadow: 0 0 2px;*/
  cursor: pointer;
  color: #0011ee;
  display: block;
  padding: 0.75rem;
  text-align: center;
}
.results .meta .downloadLink:hover {
  /*color: transparent;*/
  /*text-shadow: 0 0 1px #0011ee;*/
  color: #0011ee;
  background: #eee;
}
.results .meta div {
  font-size: 12px;
  padding: 0.75rem 1rem;
  border-left: 1px solid #e8e8e8;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.results.placeholder .meta {
  background: url(/assets/img/progress-light.png);
  animation: progress 0.4s infinite linear !important;
  color: #666;
}

.results button {
  background: #f8f8f8;
  cursor: pointer;
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
  padding: 0.75rem 1rem;
  border: 0;
  border-left: 1px solid #e8e8e8;
  margin: 0;
  text-transform: uppercase;
}
.results button:hover {
  background: #eee;
}

.downloadAllLinks {
  border-right: 0;
  display: flex;
  margin-bottom: 1.25rem;
}
.results button.downloadAll {
  border: 2px solid #ddd;
  margin-right: 1rem;
  flex: 1;
  color: #0011ee;
  font-size: 16px;
}

.results .reset {
  color: #ff3333;
}

/* Dropzone */

.dropzone {
  width: 100%;
  min-height: 30rem;
  max-width: 640px;
  max-height: calc(50vh);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f8f8f8;
  margin-bottom: 1.25rem;
  border: 2px dashed #01e;
  color: #0011ee;
}
.mobile .dropzone {
  min-height: 5rem;
}
.dropzone:hover {
  background: #fefefe;
  border: 2px solid #01e;
  cursor: pointer;
}
.dropzone.condensed {
  min-height: auto;
  padding: 1.25rem 0;
  color: #01e;
  font-size: 18px;
  border:1px dashed #01e;
  text-transform: uppercase;
}
.dropzone.processing {
  pointer-events: none;
  opacity: 0.5;
}

/* Settings */

.settings {
  display: flex;
  flex-direction: column;
}
.settings.processing {
  opacity: 0.5;
  pointer-events: none;
}
.mobile .settings {
  margin: 1rem 0;
}

/* Sample images */

.sampleImages {
  padding-bottom: 2rem;
}
.sampleImages.isWorking {
  pointer-events: none;
  opacity: 0.5;
}
.sampleImagesList {
  margin-bottom: 1.125rem;
}
.sampleImagesList > div {
  display: flex;
  flex-flow: row wrap;
  font-size: 0.75rem;
  color: #999;
}
.sampleImagesContainer {
  margin: 0;
}
.sampleImage {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
.sampleImages img {
  height: 5rem;
  width: 7rem;
  overflow: hidden;
  cursor: grab;
  display: block;
  margin-bottom: 0.25rem;
}
.sampleLabels {
  display: flex;
  margin-top: 0.5rem;
  flex-flow: row wrap;
}
.sampleLabels div {
  /*width: 20%;*/
}
.mobile .sampleImages img {
  width: 6.75rem;
}
.sampleImages a,
.sampleImages a:visited {
  color: #666;
}

.container .sampleIntro {
  font-size: 0.875rem;
  color: #666;
  line-height: 1.25rem;
  margin-bottom: 1.125rem;
  max-width: 720px;
}
.container ul.sampleIntro {
  margin: 0;
  padding: 0;
  list-style: none;
}
.container ul.sampleIntro li {
  list-style: none;
  margin-bottom: 0.125rem;
}
.sampleIntro a,
.sampleIntro a:visited {
  color: #01e;
}
.sampleImages a:active,
.sampleImages a:hover {
  color: #333;
  text-decoration: underline;
}
.classLabel {
  font-size: 0.75rem;
  background: #fafafa;
  color: #666;
  /*font-family: 'Roboto Mono';*/
  padding: 0.4rem 0.7rem;
  display: inline-block;
  margin: 0 0.3rem 0.3rem 0;
  text-align: center;
  border-radius: 10px;
}

/* Loader */

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  z-index: 2;
}
.loader .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  background: white;
  padding: 2rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.loaderError {
  max-width: 688px;
  font-family: Menlo, monospace;
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid #ddd;
  background: #f8f8f8;
}
.firstTime {
  max-width: 688px;
  font-size: 14px;
  line-height: 1.5;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid #ddd;
  background: #f8f8f8;
}

/* Progress bar */

.progress {
  background: #f8f8f8;
  margin: 0.25rem 0;
  height: 0.25rem;
  width: 25rem;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 0.2rem;
}
.progress .bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: url(/assets/img/progress.png);
  animation: progress 0.4s infinite linear !important;
  transition: width 0.4s ease-out;
}
.progress.indeterminate {
  background: url(/assets/img/progress.png);
  animation: progress 0.4s infinite linear !important;
  height: 1rem;
}
@keyframes progress {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: -27px 0px;
  }
}
